<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
         <p>Created on 22 - 03 - 2020<br>00 : 12 AM<br><br>Phone : 9566614767<br>Email : tarunpritamvrs@gmail.com<br>Git Profile : rodriguezmatirp</p>
         <br><br>
         <p>APIs are darksky.net and mapbox.com for weather and co-ordinates respectively.<br></p>
    </div>
    {{>footer}}
</body>

</html>