<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
     <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
        <p>Error : <br>Unable to connect to location service/Unable to connect to weather service - Check your internet Connection<br>Unable to find the location/Unable to find weather - Enter a valid address</p>
    </div>
    {{>footer}}
</body>
</html>